{{ partial "html-header" . }}

<div class="pane">

  <div class="pane__main{{ if eq .Params.toc true }}--splited{{ end }}">

{{ partial "header" . }}

<main>


<article class="p-article">

  {{ if ne .Date .Lastmod }}
  <div class="c-stamp-large">
    <ul>
      <li>加筆</li>
      <li>{{ .Lastmod.Format "2006.01.02" }}</li>
      <li>修正</li>
    </ul>
  </div>
  {{ end }}

  <div class="p-article__title">
    <div class="c-calendar">
        <div class="c-calendar__month">{{ index $.Site.Data.jmonth (printf "%d" .Date.Month) }}</div>
        <div class="c-calendar__day-of-month">{{ .Date.Format "2" }}</div>
        <div class="c-calendar__day-of-week">{{ index $.Site.Data.jweekday (printf "%s" .Date.Weekday) }}</div>
        <div class="c-calendar__year">{{ .Date.Format "2006" }}</div>
    </div>
    <h1 class="p-article__title__text">{{ .Title }}{{ if .Draft }}<span class="p-article__title__draft"> ::Draft{{ end }}<span>
    </h1>
  </div>

  <section class="p-article__content">
  {{ .Content }}
  </section>

  <div class="p-article__footer">
    <section class="p-article__tag_list">
      <ul class="p-article__tags">
        {{ range .Params.tags }}
        <li class="p-article__tags__tag">
          <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a>
        </li>
        {{ end }}
      </ul>
    </section>
    {{ $related := .Site.RegularPages.Related .  | first 5 }}
    {{ with $related }}
    <section class="p-article__related">
      <hr>
      <h3 class="p-article__related__title">関連する記事</h3>
      <ul class="p-article__related__articles">
        {{ range . }}
        <li class="p-article__related__article"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </section>
    {{ end }}
  </div>

</article>

</main>

{{ partial "footer" . }}

</div>

{{ if eq .Params.toc true }}
<div class="pane__side">
  <div class="pane__side__content">
    <div class="pane__side__content__title">目次</div>
    {{ .TableOfContents }}
  </div>
</div>
{{ end }}

</div>

{{ partial "html-footer" . }}
